<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   NodeTechnique.plist
   ARKit-Emperor

   Created by Kei Fujikawa on 2018/12/22.
   Copyright (c) 2018 KBOY. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>passes</key>
        <dict>
            <key>pass_draw_masks</key>
            <dict>
                <key>draw</key>
                <string>DRAW_SCENE</string>
                <key>program</key>
                <string>doesntexist</string>
                <key>metalVertexShader</key>
                <string>mask_vertex</string>
                <key>metalFragmentShader</key>
                <string>mask_fragment</string>
                <key>includeCategoryMask</key>
                <string>2</string>
                <key>inputs</key>
                <dict>
                    <key>colorSampler</key>
                    <string>COLOR</string>
                    <key>aPos</key>
                    <string>vertexSymbol</string>
                </dict>
                <key>outputs</key>
                <dict>
                    <key>color</key>
                    <string>MASK</string>
                </dict>
            </dict>
            <key>pass_combine</key>
            <dict>
                <key>colorStates</key>
                <dict>
                    <key>clear</key>
                    <false/>
                </dict>
                <key>inputs</key>
                <dict>
                    <key>aPos</key>
                    <string>vertexSymbol</string>
                    <key>colorSampler</key>
                    <string>COLOR</string>
                    <key>maskSampler</key>
                    <string>MASK</string>
                </dict>
                <key>outputs</key>
                <dict>
                    <key>color</key>
                    <string>COLOR</string>
                </dict>
                <key>metalFragmentShader</key>
                <string>combine_fragment</string>
                <key>metalVertexShader</key>
                <string>combine_vertex</string>
                <key>program</key>
                <string>doesntexist</string>
                <key>draw</key>
                <string>DRAW_QUAD</string>
            </dict>
            <key>pass_blur_h</key>
            <dict>
                <key>colorStates</key>
                <dict>
                    <key>clear</key>
                    <false/>
                </dict>
                <key>inputs</key>
                <dict>
                    <key>aPos</key>
                    <string>vertexSymbol</string>
                    <key>maskSampler</key>
                    <string>MASK</string>
                </dict>
                <key>outputs</key>
                <dict>
                    <key>color</key>
                    <string>MASK</string>
                </dict>
                <key>metalFragmentShader</key>
                <string>blur_fragment_h</string>
                <key>metalVertexShader</key>
                <string>blur_vertex</string>
                <key>program</key>
                <string>doesntexist</string>
                <key>draw</key>
                <string>DRAW_QUAD</string>
            </dict>
            <key>pass_blur_v</key>
            <dict>
                <key>colorStates</key>
                <dict>
                    <key>clear</key>
                    <false/>
                </dict>
                <key>inputs</key>
                <dict>
                    <key>aPos</key>
                    <string>vertexSymbol</string>
                    <key>maskSampler</key>
                    <string>MASK</string>
                </dict>
                <key>outputs</key>
                <dict>
                    <key>color</key>
                    <string>MASK</string>
                </dict>
                <key>metalFragmentShader</key>
                <string>blur_fragment_v</string>
                <key>metalVertexShader</key>
                <string>blur_vertex</string>
                <key>program</key>
                <string>doesntexist</string>
                <key>draw</key>
                <string>DRAW_QUAD</string>
            </dict>
        </dict>
        <key>sequence</key>
        <array>
            <string>pass_draw_masks</string>
            <string>pass_blur_h</string>
            <string>pass_blur_v</string>
            <string>pass_blur_h</string>
            <string>pass_blur_v</string>
            <string>pass_combine</string>
        </array>
        <key>symbols</key>
        <dict>
            <key>vertexSymbol</key>
            <dict>
                <key>semantic</key>
                <string>vertex</string>
            </dict>
        </dict>
        <key>targets</key>
        <dict>
            <key>MASK</key>
            <dict>
                <key>type</key>
                <string>color</string>
                <key>format</key>
                <string>rgb</string>
                <key>size</key>
                <string>512x512</string>
                <key>scaleFactor</key>
                <integer>1</integer>
            </dict>
        </dict>
    </dict>
</plist>
